<h1>Details</h1>
<h2>{{team.name + " " + team.nickname}}</h2>
<div class="container" ng-show="tweets">
    <h3>Twitter</h3>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="tweet in tweets">
                <td>{{tweet.user.screen_name}}</td>
                <td>{{tweet.text}}</td>
            </tr>
        </tbody>
    </table>
</div>

<button ng-show="!fans" class="btn btn-primary" ng-click="showFans(team)">Show Fans</button>
<button ng-show="fans" class="btn btn-primary" ng-click="hideFans()">Hide Fans</button>

<div class="container" ng-show="fans">
    <h3>Fans</h3>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="fan in fans">
                <td><a href="#/profile/{{fan._id}}">{{fan.username}}</a></td>
                <td >
                    <div ng-show="{{fan._id != currentUser._id}}">
                        <button ng-show="{{(!isFollowing(fan._id))}}" class="btn btn-primary pull-right" ng-click="follow(fan)">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                        <button ng-show="{{isFollowing(fan._id)}}" class="btn btn-danger pull-right" ng-click="unFollow(fan)">
                            <span class="glyphicon glyphicon-minus"></span>
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>