<h1>Profile</h1>
<h2>Hello, {{currentUser.username}}</h2>
<div class="container" ng-show="favoriteTeams">
    <h3>Favorite Teams</h3>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="team in favoriteTeams">
                <td>{{team.abbr}}</td>
                <td>{{team.name + " " + team.nickname}}</td>
                <td>
                    <button class="btn btn-danger pull-right" ng-click="removeFromFavoriteTeams(team)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>