<h1>Profile</h1>
<h2>{{currentUser.username}}</h2>
<div class="container" ng-show="favoriteTeams">
    <h3>Favorite Teams</h3>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="team in favoriteTeams">
                <td>{{team.abbr}}</td>
                <td><a href="#/details/{{team._id}}">{{team.name + " " + team.nickname}}</a></td>
                <td>
                    <button class="btn btn-danger pull-right" ng-click="removeFromFavoriteTeams(team)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container" ng-show="following">
    <h3>Following</h3>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="user in following">
                <td>{{user.username}}</td>
                <td>
                    <button class="btn btn-danger pull-right" ng-click="follow(fan)">
                        <span class="glyphicon glyphicon-minus"></span>
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>